# MOSQUITTO
MOSQUITTO_MQTT_PORT=1883
MOSQUITTO_WEBSOCKET_PORT=9001

# GRAFANA
GRAFANA_PORT=3000
GRAFANA_SECURITY_ADMIN_USER=user
GRAFANA_SECURITY_ADMIN_PASSWORD=password

# POSTGRES
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
# https://future-architect.github.io/articles/20200609/
POSTGRES_INITDB_ARGS=--encoding=UTF-8

# INFLUXDB
INFLUXDB_PORT=8086
INFLUXDB_INIT_MODE=setup
INFLUXDB_INIT_USERNAME=user
INFLUXDB_INIT_PASSWORD=password
INFLUXDB_INIT_ORG=org
INFLUXDB_INIT_BUCKET=bucket
INFLUXDB_INIT_ADMIN_TOKEN=token

# PROMETHEUS
PROMETHEUS_PORT=9090

# ELASTICSEARCH
ELASTICSEARCH_PORT=9200

# FLUENTD
FLUENTD_PORT=24224

# NGINX
NGINX_PORT=8080
